<p>Creation compte</p>
<div class="card flex align-items-center justify-content-center flex-wrap gap-3">
  <form [formGroup]="registerDataFormGroup" (submit)="register()" >
    <div>
      <label for="email">votre email</label>
      <input type="email" pInputText id="email" formControlName="email" placeholder="votre email...">
      <p-messages severity="error" text="email obligatoire"></p-messages>
    </div>

    <div>
      <label for="password">votre mot de passe</label>
      <p-password
        id="password"
        [feedback]="false"
        [toggleMask]="true"
        formControlName="password"
        placeholder="mot de passe...">
      </p-password>
    </div>

    <div>
      <label for="name">votre nom</label>
      <input
        type="text"
        pInputText
        id="name"
        formControlName="name"
        placeholder="nom">
    </div>

    <!--captcha-->

    <div *ngIf="(captcha$ | async) as captcha">
      <p>{{captcha.question}}</p>
      <input id="captchaResponse" type="text" formControlName="captchaResponse">
      <img [src]="'data:' + captcha.mimeType + ';base64,' + captcha.image">
    </div>


    <p-button type="submit" label="creation"></p-button>
  </form>

</div>
