<div class="flex flex-column align-items-center">

  <div *ngIf="(changeAccountPassword$|async) as changeAccountPassword; else elseBlock">
    <div *ngIf="changeAccountPassword.isPasswordChange===true; else elseMessageBlock">
      <p>{{pageMessages.get('changePasswordSuccess')}}</p>
    </div>

    <ng-template #elseMessageBlock>
      <p>{{pageMessages.get('changePasswordFailure')}}</p>
    </ng-template>
  </div>

  <!--Formulaire présent par default-->
  <ng-template #elseBlock>
    <form class="form--border flex flex-column align-items-center p-4 w-full m-w-500" [formGroup]="changePasswordFG" (submit)="updatePassword()">
      <p class="text-base pt-6 pb-4 font-semibold">{{pageMessages.get('title')}}</p>
      <p-divider class="p-2 w-full"></p-divider>

      <!--mot de pase-->
      <div class="flex flex-column w-full pt-4">
        <div class="relative flex flex-column w-full">
          <label class="pb-1" for="password">{{pageMessages.get('password')}}</label>
          <p-password
          [appShowOnFocus]="passwordTemplate"
          id="password"
          aria-describedby="password-help"
          [feedback]="false"
          [toggleMask]="true"
          formControlName="password"
          placeholder="mot de passe...">
          <!--Template indicator-->
          <ng-template #passwordTemplate>
            <div class="absolute top-100 left-0 shadow-1 p-2 z-1 bg-white">
              <p class="mt-2 text-sm font-bold">Contraintes</p>
              <p-divider class="p-2"></p-divider>
              <ul class="pl-2 ml-2 mt-0" style="line-height: 1.5">
                  <li class="text-sm"><i class="pi pi-caret-right" style="font-size: 1rem; color: var(--first_color)"></i>Au moins 1 caractère en miniscule</li>
                  <li class="text-sm"><i class="pi pi-caret-right" style="font-size: 1rem; color: var(--first_color)"></i>Au moins 1 caractère en majiscule </li>
                  <li class="text-sm"><i class="pi pi-caret-right" style="font-size: 1rem; color: var(--first_color)"></i>Au moins 1 chiffre</li>
                  <li class="text-sm"><i class="pi pi-caret-right" style="font-size: 1rem; color: var(--first_color)"></i>Minimum 8 caractères</li>
              </ul>
            </div>
          </ng-template>
        </p-password>
        </div>

        <!--Message erreur-->
        <div  *ngIf="changePasswordFG.get('password')?.touched && changePasswordFG.get('password')?.errors?.['required']">
          <p-message class="p-message" severity="error" [text]="errorMessages.get('passwordMissing')" ></p-message>
        </div>
      </div>

       <!-- confirmation mot de pase-->
      <div class="flex flex-column w-full pt-4">
        <label class="pb-1" for="password">{{pageMessages.get('confirmPassword')}}</label>
        <p-password
          id="confirmPassword"
          aria-describedby="confirm-password-help"
          [feedback]="false"
          [toggleMask]="true"
          formControlName="confirmPassword"
          placeholder="mot de passe">
        </p-password>
        <div>
          <ul>
            <li *ngIf="changePasswordFG.get('confirmPassword')?.touched && changePasswordFG.get('confirmPassword')?.errors?.['required']">
              <p-message class="p-message" severity="error" [text]="errorMessages.get('confirmPasswordMissing')" ></p-message>
            </li>
            <li *ngIf="changePasswordFG.get('confirmPassword')?.touched && changePasswordFG.errors?.['passwordMismatch']">
              <p-message class="p-message" severity="error" [text]="errorMessages.get('confirmPasswordNotMatch')" ></p-message>
            </li>
          </ul>
        </div>
      </div>

      <!--Token BIS -->
      <div class="flex flex-column w-full pt-4">
      <label class="pb-1" for="email">{{pageMessages.get('changePasswordToken')}}</label>
      <div class="flex  w-full align-items-center justify-content-center">
        <input class="m-1 w-3rem" maxlength="1" formControlName="char1" style="border-color: var(--first_color); text-align: center;" type="text" pInputText id="char1"  placeholder="." (input)="onInputChange($event, char2)">
        <input #char2 class="m-1 w-3rem" maxlength="1" formControlName="char2" style="border-color: var(--first_color); text-align: center;" type="text" pInputText id="char2" placeholder="." (input)="onInputChange($event, char3)">
        <input #char3 class="m-1 w-3rem" maxlength="1" formControlName="char3" style="border-color: var(--first_color); text-align: center;" type="text" pInputText id="char3" placeholder="." (input)="onInputChange($event, char4)">
        <input #char4 class="m-1 w-3rem" maxlength="1" formControlName="char4" style="border-color: var(--first_color); text-align: center;" type="text" pInputText id="char4" placeholder="." (input)="onInputChange($event, char5)">
        <input #char5 class="m-1 w-3rem" maxlength="1" formControlName="char5" style="border-color: var(--first_color); text-align: center;" type="text" pInputText id="char5" placeholder=".">

      </div>
      <div>
        <ul>
          <li *ngIf="changePasswordFG.get('changePasswordToken')?.touched && changePasswordFG.get('changePasswordToken')?.errors?.['required']">
            <p-message class="p-message" severity="error" [text]="errorMessages.get('tokenMissing')" ></p-message>
          </li>
        </ul>
      </div>
    </div>

      <p-button class="pt-4" type="submit" label="Go"></p-button>
    </form>
  </ng-template>
</div>
