
<div class="container--center">
  <div class="flex flex-column align-items-center w-full">
    <form class="form--border flex flex-column align-items-center p-4 w-full m-w-500" [formGroup]="lostPasswordFG" (submit)="passwordLinkReinitializer()" >
      <p class="text-base pt-6 pb-4 font-semibold">{{ pageMessages.get('title') }}</p>
      <p-divider class="p-2 w-full"></p-divider>

      <!--message-->
      <p class="text-sm">{{pageMessages.get('message')}}</p>

      <!--Email-->
      <div class="flex flex-column w-full pt-4">
        <label class="pb-1" for="email">{{pageMessages.get('email')}}</label>
        <input style="border-color: var(--first_color)" type="email" pInputText id="email" formControlName="email" placeholder="votre email.">

         <!--Message erreur-->
         <div *ngIf="lostPasswordFG.get('email')?.touched && lostPasswordFG.get('email')?.errors?.['required']">
          <p-message class="p-message" severity="error" [text]="errorMessages.get('emailMissing')" ></p-message>
        </div>
      </div>

      <p-button class="pt-4" type="submit" label="Go"></p-button>
    </form>
  </div>
</div>
